
<ion-content  style="background: #1c1c1d;">
  <ion-img src="assets/images/header1.png" style="background: #1c1c1d;"></ion-img>
  <ion-card-header *ngIf="_loading">
    <ion-card-title>
     <span style="font-size: 24px; color:#e2e6ec;" >¡ Unos segundos por favor.... !</span>
    </ion-card-title>
  </ion-card-header>
  <span class="loader"  *ngIf="_loading"></span>
  <ion-content scroll-y="false"  *ngIf="!_loading">
    <ion-card class="ion-no-margin">
       <ion-card-header style="margin-top: -23px;margin-top: -8px;">
          <ion-card-title>
           <span style="font-size: 24px; color:bisque;"> ¡Bienvenido a safebags!</span>
          </ion-card-title>
       </ion-card-header>
       <div class="msgRegistrarUsuario">
        <span tyle="font-size: 20px;color:bisque;" *ngIf="!_loading &&  _exito">
          <b>¡Felicitaciones {{_usuario}}!</b>, ya sos parte de <b>safebags</b>,  configura tu dispositivo iniciando a  la aplicación 
        </span>
       </div>
       <span class="loaderCora"  *ngIf="!_loading &&  _exito"></span>
       <ion-card-content *ngIf="!_exito" style="margin-top: -26px;">
          <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>    
              <div>
                  <ion-item>
                    <ion-input  appTrimValue labelPlacement="Nombre" placeholder="Nombre" formControlName="nombre"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input appTrimValue  labelPlacement="Apellido" placeholder="Apellido" formControlName="apellido"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input  appTrimValue labelPlacement="Email" placeholder="Email" formControlName="email"  (focusout)="onValidarUsuario();"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input appTrimValue labelPlacement="Celular" placeholder="Celular" formControlName="telcel" ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input labelPlacement="Pasword" placeholder="Pasword" type="password" formControlName="password" ></ion-input>
                  </ion-item>
              </div>  
              <div class="signin-btns" style="margin-top: 82px;">
                <ion-button  fill="solid" shape="round" class="loginbtn"type="submit" >Aceptar</ion-button>
                <ion-button  fill="outline"  shape="round" color="dark" (click)="onVolver()">Volver</ion-button>
              </div>
              <ion-toast [isOpen]="isToastOpen"  message="¡Por favor proporcione todos los valores requeridos o hay datos incorrectos!"   [duration]="5000"    color ="danger"  >
              <ion-toast [isOpen]="isToastOpenError"  message="¡Se produjo un error intente mas tarde!"   [duration]="5000"    color ="danger"  ></ion-toast>
              <ion-toast [isOpen]="isToastOpenSuccess"  message="¡Felicitaciones ya sos parte de la familia!"   [duration]="5000"  color ="success"  ></ion-toast>
              <ion-toast [isOpen]="isToastOpenMail"  message="Ups, el email ya esta registrado!"   [duration]="5000"  color ="danger"  ></ion-toast>
              </ion-toast>     
          </form>
       </ion-card-content>
       <ion-button size="small" fill="outline" *ngIf="_exito" style="margin-top: 294px;"  shape="round" color="dark" (click)="onVolver()">Volver</ion-button>  
    </ion-card>
   </ion-content>
</ion-content>
