<ion-header >
  <ion-toolbar>
    <ion-title>{{_buscando}}</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
 <ion-content [fullscreen]="true">
  <div class="map" #map id="map"></div>
</ion-content>
<span class="loader" *ngIf="loading"></span>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="onSalir()">
          <ion-icon name="arrow-undo-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-toast [isOpen]="isToastOpen" message="¡Ha sucedido un error al recuperar la lista, inténtalo de nuevo!" [duration]="5000" color ="danger" ></ion-toast>
<ion-toast [isOpen]="isToastActivarBle" message="¡Por favor, activa el Bluetooth!" [duration]="5000"color ="danger"  ></ion-toast>
<ion-toast   [isOpen]="paso"  message="paso"  [duration]="5000"  color ="danger" ></ion-toast>

<ion-toast [isOpen]="iosTasoNoPermisos" message="¡No tenes permisos capo!" [duration]="5000" color ="danger" ></ion-toast>

<ion-toast [isOpen]="ioTostEnvioMal" message="¡enviamos un meil !" [duration]="5000" color ="danger" ></ion-toast>
<ion-toast [isOpen]="ioTostEnvioMalError" message="no mando nada!" [duration]="5000" color ="danger" ></ion-toast>