
<ion-content>
  <ion-card class="ion-no-margin">
     <ion-img src="assets/images/header.png"></ion-img>
     <ion-card-header>
        <ion-card-title>
          ¿Has olvidado tu contraseña?
        </ion-card-title>
     </ion-card-header>
     <ion-card-content>
      <p>
        Proporciona uno de los siguientes datos para comenzar:
       </p>
      <ul style="text-align: left; font-size: 12px;">
        <li>Dirección de correo electrónico</li>
        <li>Número de móvil para ingresar a tu cuenta</li>
      </ul>
       <form [formGroup]="formForgetPassword" (ngSubmit)="submit()" novalidate>
          <div>
            <ion-item>
              <ion-input labelPlacement="Ingrese us meail" placeholder="Ingrese su email" formControlName="email"></ion-input>
            </ion-item>
          </div>
          <div class="signin-btns">
             <ion-button size="small" type="submit" fill="solid" shape="round" class="loginbtn">Aceptar</ion-button>
             <ion-button size="small" fill="outline"   shape="round" color="dark">Volver</ion-button>
          </div>
        </form>
     </ion-card-content>
     <ion-toast
     [isOpen]="isToastOpen"
     message="¡Formato incorrecto!"
     [duration]="5000"
     color ="danger"
       ></ion-toast>
       <ion-toast
       [isOpen]="isToastOpenOk"
       message="¡Formato incorrecto!"
       [duration]="5000"
       color ="success"
         ></ion-toast>
  </ion-card>
 </ion-content>
 