
<ion-content scroll-y="false" style="background: #1c1c1d;">
  <ion-card class="ion-no-margin">
     <ion-img src="assets/images/header.png"></ion-img>
     <ion-card-header>
        <ion-card-title style="color: bisque;">
          ¿Has olvidado tu contraseña?
        </ion-card-title>
     </ion-card-header>
     <ion-card-content>     
      <p *ngIf="_cambio"><span>¡Genial! te enviamos un email con una password provisoria</span> </p>
       <form [formGroup]="formForgetPassword" (ngSubmit)="onRecuperarUsuarioSubmit()" novalidate *ngIf="!_cambio">
          <div>
            <ion-item>
              <ion-input labelPlacement="Ingrese us meail" placeholder="Ingrese su email" formControlName="email"></ion-input>
            </ion-item>
          </div>
          <div class="signin-btns">
             <ion-button  type="submit" fill="solid" shape="round" class="loginbtn">Aceptar</ion-button>
             <ion-button  fill="outline"   shape="round" color="dark" (click)="onVolver()">Volver</ion-button>
          </div>
        </form>
     </ion-card-content>
     <ion-toast   [isOpen]="isToastOpen"  message="¡Formato incorrecto!"   [duration]="5000"    color ="danger" ></ion-toast>
     <ion-toast   [isOpen]="isToastOpenOk"  message="¡Genial, te enviamos un email!" [duration]="5000"     color ="success"  ></ion-toast>
     <ion-toast   [isOpen]="isToastErrorMail"  message="¡Ups, el email no se encuentra!" [duration]="5000"     color ="danger"  ></ion-toast>
     
  </ion-card>
    <ion-button  fill="outline" *ngIf="_cambio" style="margin-top: 294px;"  shape="round" color="dark" (click)="onVolver()">Volver</ion-button>  
 </ion-content>
 