<ion-content scroll-y="false">
 <ion-card class="ion-no-margin">
     <ion-img src="assets/images/header1.png"></ion-img>
    <ion-card-header>
       <ion-card-title style="color:#e2e6ec;"> 
         <!-- ¡Hola! <br>
          Bienvenido a <b>safebags</b> -->
        <span style="font-family: sans-serif; color: bisque;font-size: 32px;">Login</span>   
       </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="fromLogin" (ngSubmit)="submitForm()" novalidate>   
            <ion-item>
               <ion-input appTrimValue style="border-color: bisque;" labelPlacement="Email" type="text" placeholder="Email"  required  formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
               <ion-col>
                  <ion-input #input labelPlacement="Password" placeholder="Password" type=password  required formControlName="password"></ion-input>
               </ion-col>
               <ion-icon name="eye" (click)="togglePasswordMode(input)" style="color:#bcceed;"></ion-icon>
            </ion-item>
         
         <div class="signin-btns">
            <ion-button  fill="solid" shape="round" class="loginbtn" type="submit"> LOGIN <ion-spinner  style="margin-left: 7px;" *ngIf ="_sppiner"  color="success"></ion-spinner></ion-button>
            <ion-button  fill="clear"   shape="round" color="dark" (click)="onSinup()">REGISTER</ion-button>
         </div>
      </form>
       
         <div class="text-tag">
             <span (click)="onRecuperarUsuario()">¿Olvidaste tu nombre de usuario?</span>
         </div>
         <ion-toast
         [isOpen]="isToastOpen"
         message="¡El nombre de usuario o contraseña son incorrecto!"
         [duration]="5000"
         color ="danger"
           ></ion-toast>
           <ion-toast
           [isOpen]="isToastDatosRequeridos"
           message="¡El email y password son requeridos!"
           [duration]="5000"
           color ="warning"
             ></ion-toast>
    </ion-card-content>
 </ion-card>
</ion-content> 