
/*ion-content{
 --ion-background-color:#E1EAF9  
   
}*/

.item-inner{
     --border-color: #ff0000!important; /* Cambiar el color a rojo (#ff0000) */
}

ion-card{
     --ion-backgroud-color:transparent;
     box-shadow:none!important;
     text-align: center;
}
.signin-btns{
     margin-top: 25px;
     text-align: center;
     color: #F0F4FA;
}
.loginbtn{
     --ion-color-primary: #215ab7
}
.text-tag{
    margin-top: 35px;
    text-align: center;
    span{
          font-size: 13px;
          font-weight: normal;
          color: #898585;
    }
}
.imgwifi{
     width: 10%;
     opacity: .5;
}

ion-card {
     height: 100%; 
}
   
ion-card-content {
     height: 100%; 
     display: flex; 
     flex-direction: column; 
}

ion-item {
     --background:#c1c1d!important;
 }